﻿@model WarsawEventsMVC.Models.Entities.Event

@{
    ViewBag.Title = "Usuń";
}

<h3>Czy na pewno chcesz usnąć wydarzenie?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EventName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EventName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Place.PlaceName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Place.PlaceName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfStart)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfStart)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberOfParticipants)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfParticipants)
        </dd>

        <dt>
            @Html.Label("Kategoria")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Category.CategoryName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Usuń" class="btn btn-default" /> |
            @Html.ActionLink("Powrót do wydarzeń", "Index")
        </div>
    }
</div>
