﻿@model PagedList.IPagedList<WarsawEventsMVC.Models.Entities.EventViewModel>
@{
    ViewBag.Title = "WarsawEvents";
}

<style type="text/css">
    .top10 { margin-top:10px; }
</style>
<div class="col-md-2 col-sm-6 top10">
    @Html.DropDownList("Sort", new List<SelectListItem>()
{
    new SelectListItem {Text="Dacie",Selected=ViewBag.CurrentSort==null || ViewBag.CurrentSort=="Dacie" },
    new SelectListItem {Text="Ilości uczestników", Selected=ViewBag.CurrentSort=="Ilości uczestników" },
    new SelectListItem {Text="Cenie", Selected=ViewBag.CurrentSort=="Cenie"}
}, new { @class = "form-control" })
</div>
<div class="col-md-2 col-sm-6 top10">
    @Html.DropDownList("Period", new List<SelectListItem>()
{
    new SelectListItem {Text="Wszystkie",Selected=ViewBag.CurrentPeriod==null || ViewBag.CurrentPeriod=="Wszystkie" },
    new SelectListItem {Text="Dzisiejsze",Selected=ViewBag.CurrentPeriod=="Dzisiejsze" },
    new SelectListItem {Text="Obecny tydzień",Selected=ViewBag.CurrentPeriod=="Obecny tydzień" },
    new SelectListItem {Text="Następny tydzień",Selected=ViewBag.CurrentPeriod=="Następny tydzień" }
}, new { @class = "form-control" })
</div>
<div class="col-md-3 col-sm-6 top10">
    @Html.DropDownList("Categories", null, new { @class = "form-control" })<!--elementy bierze z viewBag.Categories-->
</div>
<div class="col-md-3 col-sm-6 top10">
    @Html.DropDownList("Districts", null, new { @class = "form-control" })
</div>
@if (Request.IsAuthenticated)
{
    <div class="col-md-2 col-sm-6 top10">
        @Html.DropDownList("EventsFilter", new List<SelectListItem>()
    {
        new SelectListItem {Text="Wszystkie",Selected=ViewBag.CurrentEventsFilter==null || ViewBag.CurrentEventsFilter=="Wszystkie" },
        new SelectListItem {Text="Utworzyłem",Selected=ViewBag.CurrentEventsFilter=="Utworzyłem" },
        new SelectListItem {Text="Dołączyłem",Selected=ViewBag.CurrentEventsFilter=="Dołączyłem" },
        new SelectListItem {Text="Polubiłem",Selected=ViewBag.CurrentEventsFilter=="Polubiłem" },
        new SelectListItem {Text="Polecane",Selected=ViewBag.CurrentEventsFilter=="Polecane" }
    }, new { @class = "form-control" })
    </div>
}

<div class="col-md-4 col-sm-6 top10">

        @Html.TextBox("SearchString", ViewBag.CurrentFilter as string,new { placeholder = "szukaj" })
</div>

@if (Request.IsAuthenticated)
{
    <div class="col-md-4 col-sm-11" >
        @Html.ActionLink("Dodaj wydarzenie", "Create", null, new { @class = "btn btn-primary top10" })
    </div>
}
else
{
    <div class="clearfix"></div>
}

    <div id="events" class="container-fluid">
        @Html.Partial("_Events", Model)
    </div>
    <br />
    <script type="text/javascript">
        $('#SearchString').keyup(function () {
            Search();
        });

        $('#Sort').change(function (event) {
            Search();
        });

        $('#Period').change(function (event) {
            Search();
        });

        $('#Categories').change(function (event) {
            Search();
        });

        $('#Districts').change(function (event) {
            Search();
        });

        $('#EventsFilter').change(function (event) {
            Search();
        });

        function Search() {
            $.ajax({
                type: "GET",
                url: "/Events/Index",
                data: {
                    period: $('#Period').val(), currentSort: $('#Sort').val(), searchString: $('#SearchString').val(),
                    category: $('#Categories').val(), district: $('#Districts').val(), eventsFilter: $('#EventsFilter').val()
                },
                success: function (data) {
                    $("#events").html(data);
                }
            });
        }


    </script>
