﻿@model PagedList.IPagedList<WarsawEventsMVC.Models.Entities.Place>
@using PagedList.Mvc;
@{ 
    
   
    <div id='okienko' style='position: absolute; z-index: 2; top: 100px; width: 400px; height: 200px;  padding-top: 40px; text-align: center; color: black; box-shadow: 3px 3px 5px; display: none; background-color: white; border: 1px solid black;'>
        <span id='tresc' style="font-size: 18px;"> </span>
        <button id='button_zamknij' style='position: absolute; bottom: 10px; right: 10px;'>zamknij</button>
    </div>


 
    if (ViewBag.Message != null)
    {
        <script>
            var szerokosc_okna = parseInt(document.getElementById('okienko').style.width);
            var szerokosc_strony = document.body.clientWidth;
            var left = (szerokosc_strony / 2) - (szerokosc_okna / 2);
            document.getElementById('okienko').style.left = left + 'px';
            document.getElementById('tresc').innerHTML = '@ViewBag.Message';
            document.getElementById('okienko').style.display = 'block';
            document.getElementById('button_zamknij').onclick = function () {
                document.getElementById('okienko').style.display = 'none';
            }
        </script>
     }
  }

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().PlaceName)
        </th>
        <th>
            @Html.DisplayName("Dzielnica")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Average)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().StreetName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Streetnumber)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PlaceName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.District.DistrictName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Average)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StreetName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Streetnumber)
            </td>
            <td>
                @using (Ajax.BeginForm("UpdateAverage", new { placeId = item.Id, page = Model.PageNumber }, new AjaxOptions()
                {
                    UpdateTargetId = "places",
                    InsertionMode = InsertionMode.Replace,
                    HttpMethod = "Post"
                }))
                {
                    <div class="col-md-5">
                        @Html.DropDownList("Rate", new List<SelectListItem>()
                    {
                         new SelectListItem {Text="1",Value="1" },
                         new SelectListItem {Text="2",Value="2" },
                         new SelectListItem {Text="3",Value="3" },
                         new SelectListItem {Text="4",Value="4" },
                         new SelectListItem {Text="5",Value="5" }
                    }, new { @class = "col-md-2 form-control" })

                    </div>
                    <input type="submit" class="btn btn-primary" value="Oceń" />

                }
            </td>







        </tr>
    }

</table>

    Strona @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) z @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
new
{
    page
}))