﻿@model IEnumerable<WarsawEventsMVC.Models.ApplicationUser>

@using Microsoft.AspNet.Identity;

@{
    ViewBag.Title = "Index";
}


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
       
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @if(ViewBag.IsOwner != null && ViewBag.IsOwner == true && User.Identity.GetUserId() != item.Id)
            {
            @Html.ActionLink("Wyrzuć", "Eject", new { id=item.Id, eventId = ViewBag.EventId })
            }
        </td>
    </tr>
}

</table>
