﻿@model PagedList.IPagedList<WarsawEventsMVC.Models.Entities.Place>

@{
    ViewBag.Title = "Index";
    @*<div id='okienko' style='position: absolute; z-index: 2; top: 100px; width: 400px; height: 200px;  padding-top: 40px; text-align: center; color: black; box-shadow: 3px 3px 5px; display: none; background-color: white; border: 1px solid black;'>
        <span id='tresc' style="font-size: 18px;"> </span>
        <button id='button_zamknij' style='position: absolute; bottom: 10px; right: 10px;'>zamknij</button>
        <div id='okienko' style='position: relative; width: 60px; height: 30px;'>
            @Html.DropDownList("Rate", new List<SelectListItem>()
            {
                 new SelectListItem {Text="1",Value="1" },
                 new SelectListItem {Text="2",Value="2" },
                 new SelectListItem {Text="3",Value="3" },
                 new SelectListItem {Text="4",Value="4" },
                 new SelectListItem {Text="5",Value="5" }
            }, new { @class = "col-md-2 form-control" })
        </div>
        @Html.ActionLink("Oceń", "Rate", new { id = ViewBag.PlaceId, value = ViewBag.Rate })
    </div>

    if (ViewBag.PlaceId != null)
    {
        //Display the error message
        //You can: display it in a div (without popup), you can show a javascript Alert(), or display a modal dialog.
        <script>
      

            var szerokosc_okna = parseInt(document.getElementById('okienko').style.width);
            var szerokosc_strony = document.body.clientWidth;
            var left = (szerokosc_strony / 2) - (szerokosc_okna / 2);
            document.getElementById('okienko').style.left = left+'px';

            // document.getElementById('tresc').innerHTML = 'left: ' + left + ' szerokosc_strony ' + szerokosc_strony;
            document.getElementById('tresc').innerHTML = 'Wybierz ocenę:';
            document.getElementById('okienko').style.display = 'block';
            document.getElementById('button_zamknij').onclick = function () {
                document.getElementById('okienko').style.display = 'none';
            }

        </script>
        }*@
    }

<div id="places">
    @Html.Partial("_Places", Model)
</div>







